{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "css-modules-transform",
      {
        "extractCss": {
          "dir": "./lib/",
          "relativeRoot": "./src/",
          "filename": "[path]/[name].css"
        },
        "keepImport": true,
        "preprocessCss": "./scripts/sass.js"
      }
    ],
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    [
      "transform-semantic-ui-react-imports",
      {
        "importType": "commonjs"
      }
    ],
    "transform-decorators-legacy"
  ]
}