{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-react-remove-prop-types",
    "transform-es2015-modules-commonjs"
  ],
  "retainLines": true
}
